body{
    background-color:lightgray;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:black;
    text-align: center;
}
.assign{
    background-color: floralwhite;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img{
    width: 200px;
    padding: 10px;
}