/* Structure */

body{
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    background: white;
    padding: 5px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
}

/* Navigation */


#main-nav ul{
    padding-left: 0; /* Removes left padding */
    width: fit-content;
    margin: auto;
}
#main-nav li{
    list-style-type: none; /* Removes bullets */
    display: inline-block; /* Appear on one line*/
}
#main-nav a{
    text-decoration: none; /* Removes underline */
    background: palevioletred;
    color:blueviolet;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#main-nav a:hover{
    background: black;
}

/* Typography */

h1{
    color:red;
}
p{
    color:blue
}