/* Structure */
#body{
    background: #f1e1eb;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#main-content{
    background: #f1e1eb;
}

#main-header{
 background: #f1e1eb;
}

#main-header h1{
    text-align: center;
}

#content{
    background: #f1e1eb;
}

#content-control section{
    background: goldenrod;
    
    margin: 20px;
}

#content-control{
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.section-control{
    flex: 1;
}

.section-control h3{
    text-align: center;
}
.section-control img{
    margin-left: 13px;
}

.section-control p{
    margin-left: 5px;
}
#main-aside{
    background: goldenrod;
    flex: 1;
}

#main-aside p{
    padding-left: 3px;
}

#main-aside h3{
    text-align: center;
}
#main-footer{
    background:whitesmoke ;
}

#footer-sections{
    background-color: grey;
    flex-direction: column;
}

#footer-sections p{
    text-align: center;
}
.footer-left{
    flex: 1;
}

.footer-left img{
    margin-left: 50px;
}
.footer-right{
    flex: 4;
}
.flex-container {
    display: flex;
  }
/* Navigation */
    #header-nav ul{
        padding-left: 0px;
        display: flex;
        width: 100%;
    }
    
    #header-nav li{
        list-style: none;
        border: 1px solid black;
        flex: 1;
    }
    
    #header-nav a{
        text-decoration: none;
        text-align: center;
        padding: 5px;
        background: goldenrod;
        color: #f1e1eb;
        display: block;

    }
    
    #header-nav a:hover{
        background: #f1e1eb;
        color: goldenrod;
    }

    #aside-nav li{
        list-style: none;
    }
    
    #aside-nav a{
        padding: 5px;
        background: goldenrod;
        color: #f1e1eb;
        display: block;

    }
    
    #aside-nav a:hover{
        background: #f1e1eb;
        color: goldenrod;
    }
/* Typography */
#main-footer h2{
    margin-left: 200px;
}
/* Media Queries */
@media only screen and (max-width: 700px) {
    #header-nav ul {
        display: flex;
        flex-direction: column;
    }

    #header-nav li {
        width: 100%;
    }

    #articles{
        display: flex;
        flex-direction: column;
    }

    .section-control img{
        margin-left: 100px;
    }

    #section-1{
        display: flex;
        flex-direction: column;
    }

    .footer-right h3{
        text-align: center;
    }
    .footer-right p{
        text-align: left;
    }

    .footer-left img{
        margin-left: 125px;
    }

    #footer-sections h2{
        text-align: center;
        margin: auto;
    }
}
