:root{
    --primary-color-1:#B886F8;
    --primary-color-2:#F1E1EB;
    --primary-color-3:black;
    --primary-color-4:#BEBEBE;
    --secondary-color-1:white;
    --secondary-color-2:whitesmoke;
    --secondary-color-3:#DE868F;
    --secondary-color-4: #f1f1f1;
}

#content-title{
    margin-left: 40px;
    margin-bottom: 0px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    margin-top: 0px;
}

#main-footer p{
    text-align: center;
    background: var(--primary-color-1);
    margin: 0px;
  }
/* Header */


#header-top{
    display: flex;
    flex-direction: row;
}
#main-img{
    background: var(--primary-color-1);
    flex: 1;
}

#logo{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#main-header{
    background: var(--primary-color-1);
    flex: 8;
}

#main-header h1{
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 0px;
}

#header-menu{
    background: var(--primary-color-1);
    flex: 1;
}

#top-menu ul{
    padding-left: 0px;
    padding-top: 40px;
}
#top-menu li{
    list-style-type: none;
}

#top-menu a{
    text-decoration: none;
    color: var(--primary-color-3);
}

#top-menu a:hover{
    color: var(--secondary-color-3);
}

#header-bottom{
    background: var(--primary-color-2);
}

#nav-bar ul{
    padding-left: 0px;
    display: flex;
    width: 80%;
    margin: auto;
}

#nav-bar li{
    list-style: none;
    flex: 1;
}

#nav-bar a{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    background: var(--primary-color-2);
    color: var(--primary-color-3);
    display: block;

}

#nav-bar a:hover{
    background: var(--secondary-color-2);
    color: var(--primary-color-1);
}

/* Content */

#main-content{
    display: flex;
    flex-direction: row;
}

#cart{
    flex: 2;
    flex-direction: column;
    background: var(--primary-color-4);
}

#user-info{
    flex: 1;
    background: var(--secondary-color-1);
}

.item{
    display: flex;
    flex-direction: row;
}

.pic{
    flex: 1;
    flex-direction: column;
}

.pic h2{
    margin-left: 75px;
}

.pic img{
    margin-left: 50px;
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#user-info{
    display: flex;
    flex-direction: column;
}

#total h2{
margin-left: 50px;
}

#total h3{
    margin-left: 50px;
}

#card-info h2{
    margin-left: 50px;
}

#card-info h3{
    margin-left: 50px;
}

@media only screen and (max-width: 700px){
    /* Header */
    #nav-bar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #header-top{
        flex-direction: column;
    }
    #main-header h1{
        font-size: 40px;
    }

    #logo{
        display: none;
    }

    #top-menu ul{
        padding-left: 0px;
        display: flex;
        margin-left: 140px;
        margin-top: 0px;
    }

    #top-menu a{
        padding-right: 20px;
    }

    /* Content */
    #main-content{
        flex-direction: column;
    }

    .item{
        flex-direction: column;
    }

    .pic h2{
        margin-left: 0px;
        text-align: center;
    }

    .pic img{
        margin-left: 115px;
        margin-bottom: 0px;
    }

    .info{
        margin-left: 115px;
    }

    .column{
        margin-top: 0px;
    }

    #total h2{
        margin-left: 0px;
        text-align: center;
    }

    #total h3{
        text-align: center;
    }

    #card-info h2{
        text-align: center;
    }
}