:root {
    --primary: coral;
    --secondary: azure;
  }
  
  /* Structure */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary);
    margin: 0px;
  }
  
  header{
    background-color: var(--primary);
    margin: 0px;
    padding: 10px;
  }

  h1{
    text-align: center;
  }

  #icecream-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #icecream-section section{
    position: relative;
    margin: 10px;
  }
  
  #icecream-section img{
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 20px;
  }
  
  #icecream-section section:hover .overlay{
    opacity: 1;
  }